@import "../../styles/variables.css";

.list {
    box-shadow: 8px 8px 0px var(--grey);
    border: 3px solid var(--primaryTextColor);
    border-radius: 15px;
    padding: 10px;
    display: flex;
    flex-direction: column;
    height: 400px;
    overflow: scroll;
    width: 100%;
    box-sizing: border-box;

    &:after {
        /* fix for this bug: https://stackoverflow.com/questions/29986977/firefox-ignores-padding-when-using-overflowscroll */
        content: "content";
        height: 10px;
        display: block;
        opacity: 0;
    }
}