@import "../../styles/variables.css";

.listItem {
    margin: 10px 10px 10px 0px;
    list-style-type: none;
    text-align: left;
    display: flex;
    justify-content: space-between;
    align-items: center;
    box-shadow: 4px 4px 0px var(--red);
    border: 3px solid var(--primaryTextColor);
    border-radius: inherit;
    padding: 5px;
    font-size: 14px;
    flex-shrink: 0;

    &:last-of-type {
        padding-bottom: 0px;
    }
}

.description {
    margin-right: auto;
    display: inline-block;
    flex-basis: 60%;
}

.listItemNth0 {
    box-shadow: 4px 4px 0px var(--red);
}

.listItemNth1 {
    box-shadow: 4px 4px 0px var(--green);
}

.listItemNth2 {
    box-shadow: 4px 4px 0px var(--blue);
}

.listItemNth3 {
    box-shadow: 4px 4px 0px var(--yellow);
}

.listItemNth4 {
    box-shadow: 4px 4px 0px var(--purple);
} 

.textArea {
    flex-basis: 60%;
    height: 65px;
}

.complete {
    text-decoration: line-through;
}

.actions {
    display: flex;
    align-items: center;
    flex-direction: column;
    flex-basis: 20%;

    & > * {
        margin: 3px 0px;
    }
}