/* This is where any shared styles should live */
@import "./variables.css";

body {
  margin: 0;
  padding: 0;
  background-color: var(--primaryBackgroundColour);
  font-family: "futura-pt", sans-serif;
}

h1 {}

h2,
h3 {
  font-weight: 900;
  letter-spacing: 1px;
}

p {
  line-height: 2em;
  font-size: 16px;
}

a {
  text-decoration: none;
  color: rgb(21, 64, 204);
}