:root {
    --primaryBackgroundColour:  #f8f8f8;
    --primaryBorderColour: #0b0a0a;
    --primaryTextColor: #333;
    --red: #d63031;
    --green: #00b894;
    --blue: #0984e3;
    --purple: #a29bfe;
    --yellow: #fdcb6e;
    --grey: #b2bec3;
}