@import "../../styles/index.css";
@import "../../styles/variables.css";

.app {
  background-attachment: fixed;
  background-color: var(--primaryBackgroundColour);
  color: var(--primaryTextColor);
  display: flex;
  flex-direction: column;
  font-size: 1.2em;
  max-width: 100vw;
  min-height: 100vh;
  justify-content: center;
  align-items: center;
  text-align: center;
  width: 280px;
  margin: 0px auto;
}

@media (min-width: 767px) and (max-width: 1023px) {}

@media (min-width: 1024px) {}
